*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #10061f;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #10061f;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #10061f;
}

@media only screen and (min-width: 1440px){
    #contact-popup{
        max-width: 500px;
    }

    #contact-popup i{
        font-size: 1.4rem;
    }

    .contact-popup-title{
        font-size: 2rem;
        margin-top: .8rem;
    }

    .contact-popup-form{
        gap: 16px;
    }

    .contact-popup-form label,
    .contact-popup-form input,
    .contact-popup-form button{
        font-size: 1.4rem;
    }
}