*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #10061f;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #10061f;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #10061f;
}

.nav-link{
    font-size: clamp(1.1rem, 0.686rem + 2.071vw, 4rem);
}

.hp-title{
    font-size: clamp(1.8rem, 1.2rem + 3vw, 6rem);
}
.hp-name{
    font-size: clamp(3rem, 2.143rem + 4.286vw, 9rem);
}
.hp-subtitle{
    font-size: clamp(0.9rem, 0.714rem + 0.929vw, 2.2rem);
}
.hp-button{
    font-size: clamp(0.9rem, 0.714rem + 0.929vw, 2.2rem);
}

.projects-page-title {
    font-size: clamp(1.5rem, 1.314rem + 0.929vw, 2.8rem);
}
.project-title {
    font-size: clamp(1.2rem, 0.9rem + 1vw, 2rem);
}
.project-links {
    font-size: clamp(1rem, 0.8rem + 0.8vw, 1.8rem);
}
.project-desc {
    font-size: clamp(0.8rem, 0.686rem + 0.571vw, 1.6rem);
}
.project-tag-text {
    font-size: clamp(0.8rem, 0.743rem + 0.286vw, 1.2rem);
}

@media (min-width: 1920px){
    #homepage,
    #projects{
        max-width: 1760px;
    }
}