*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #584d67;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #463561;
    border-radius: 24px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9773cb;
}

.nav-link{
    font-size: clamp(1.625rem, 1.219rem + 2.031vw, 3.25rem);
}

.hp-title{
    font-size: clamp(1.75rem, 1.188rem + 2.813vw, 4rem);
}
.hp-name{
    font-size: clamp(3.75rem, 2.5rem + 6.25vw, 8.75rem);
}
.hp-subtitle{
    font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.875rem);
}
.hp-button{
    font-size: clamp(0.875rem, 0.531rem + 1.719vw, 2.25rem);
}

.projects-page-title {
    font-size: clamp(1.75rem, 1.281rem + 2.344vw, 3.625rem);
}
.project-title {
    font-size: clamp(1.25rem, 1.031rem + 1.094vw, 2.125rem);
}
.project-links {
    font-size: clamp(1.125rem, 0.906rem + 1.094vw, 2rem);
}
.project-desc {
    font-size: clamp(0.75rem, 0.5rem + 1.25vw, 1.75rem);
}
.project-tag-text {
    font-size: clamp(0.75rem, 0.563rem + 0.938vw, 1.5rem);
}

#contact h3{
    font-size: clamp(1.5rem, 1.063rem + 2.188vw, 3.25rem);
}
#contact p{
    font-size: clamp(0.813rem, 0.578rem + 1.172vw, 1.75rem);
}
#contact-form div label{
    font-size: clamp(1rem, 0.75rem + 1.25vw, 2rem);
}
#contact-form div input,
#contact-form div textarea{
    font-size: clamp(0.875rem, 0.656rem + 1.094vw, 1.75rem);
}
#contact-form button{
    font-size: clamp(1rem, 0.813rem + 0.938vw, 1.75rem);
}

#alert-popup p{
    font-size: clamp(0.813rem, 0.609rem + 1.016vw, 1.625rem);
}

@keyframes shrinkTimer {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.timer-animation{
    animation: shrinkTimer 4s linear forwards;
}